[{:card-id "cryptojack"
  :code "200090"
  :flavor "There are mining accidents, then there are mining accidents. I hope one day I can stop dreaming of wallets.  – Friend of a friend"
  :illustrator "An Apex distant ancestor"
  :position 2
  :quantity 3
  :set-id "the-stratos"}]
