[{:card-id "haze"
  :code "200001"
  :flavor "Haze is one of those cool dudes that does everything Haze’s way, the hard way, which is better than it being easy like. --Haze"
  :illustrator "An Apex distant ancestor"
  :position 1
  :quantity 3
  :set-id "underbelly"}
{:card-id "betrayer"
  :code "200002"
  :flavor "In New Angeles any affilication can turn out to be a liability - Tina"
  :illustrator "An Apex distant ancestor"
  :position 2
  :quantity 3
  :set-id "underbelly"}
{:card-id "propagationengine"
  :code "200003"
  :flavor "Override, Overload, Overpower"
  :illustrator "An Apex distant ancestor"
  :position 3
  :quantity 3
  :set-id "underbelly"}
{:card-id "neurondonation"
  :code "200004"
  :flavor "Now I'm no longer too smart for my own good --Haze"
  :illustrator "An Apex distant ancestor"
  :position 4
  :quantity 3
  :set-id "underbelly"}
{:card-id "panhandler"
  :code "200005"
  :flavor "For the big jobs everyone contributes. Each in their own way."
  :illustrator "An Apex distant ancestor"
  :position 5
  :quantity 3
  :set-id "underbelly"}
{:card-id "tina"
  :code "200006"
  :flavor "Ever since her days as a street urchin, she routinely came to the store with interesting items to sell me.  I never asked where she got them, and she never told me. - Aesop"
  :illustrator "An Apex distant ancestor"
  :position 6
  :quantity 3
  :set-id "underbelly"}
{:card-id "remoteconnection"
  :code "200007"
  :flavor "For a runner, finding old forgotten systems. Something that was missed during decommissions, is the modern-day version of striking gold."
  :illustrator "An Apex distant ancestor"
  :position 7
  :quantity 3
  :set-id "underbelly"}
{:card-id "robin"
  :code "200008"
  :flavor "Some ideals journey with us through time. Like an old comrade, or an associate, or a virus."
  :illustrator "An Apex distant ancestor"
  :position 8
  :quantity 3
  :set-id "underbelly"}
{:card-id "recordremoval"
  :code "200009"
  :flavor "Since I'm already here, I might as well see what this does, and what this does, and.."
  :illustrator "An Apex distant ancestor"
  :position 9
  :quantity 3
  :set-id "underbelly"}
{:card-id "rechannelfunds"
  :code "200010"
  :flavor "Corporate bureaucracy. A slow-moving labyrinth. Where one siloed team doesn’t know what any other siloed team is doing. Leaving a system riddled with opportunities."
  :illustrator "An Apex distant ancestor"
  :position 10
  :quantity 3
  :set-id "underbelly"}
{:card-id "fuse"
  :code "200011"
  :flavor "He is the one person who can see and understand the hardware matrices all around us"
  :illustrator "An Apex distant ancestor"
  :position 11
  :quantity 3
  :set-id "underbelly"}
{:card-id "chinook"
  :code "200012"
  :flavor "Brute force is a technique that has been around since the days when we were still able to beat programs at abstract games -- Fuse"
  :illustrator "An Apex distant ancestor"
  :position 12
  :quantity 3
  :set-id "underbelly"}
{:card-id "swissstation"
  :code "200013"
  :flavor "One man's trash can be turned into another man's treasure. -- Fuse"
  :illustrator "An Apex distant ancestor"
  :position 13
  :quantity 3
  :set-id "underbelly"}
{:card-id "goingviral"
  :code "200014"
  :flavor "When you can't afford a modded network, a proper filter or a net shield, there are other ways that may work"
  :illustrator "An Apex distant ancestor"
  :position 14
  :quantity 3
  :set-id "underbelly"}
{:card-id "daylaborer"
  :code "200015"
  :flavor "Ten installs before sundown. That’s rent covered."
  :illustrator "An Apex distant ancestor"
  :position 15
  :quantity 3
  :set-id "underbelly"}
{:card-id "crunchman"
  :code "200016"
  :flavor "The Corps blacklisted him for talking. The runners ostracized him for his long history of flatlining thier colleagues. Now he is going to show them; he is going to show them all"
  :illustrator "An Apex distant ancestor"
  :position 16
  :quantity 3
  :set-id "underbelly"}
{:card-id "heuristic-bypass"
  :code "200017"
  :flavor "I knew this would be the last authorized trip to RD. I pocketed whatever advanced tech was within reach. -- Crunchman"
  :illustrator "An Apex distant ancestor"
  :position 17
  :quantity 3
  :set-id "underbelly"}
{:card-id "ubs"
  :code "200018"
  :flavor "The larger and richer the corporations grew, the longer the lines at places like UBS became. The reason was definitely not because of the flavor of the universal basic sustenance "
  :illustrator "An Apex distant ancestor"
  :position 18
  :quantity 3
  :set-id "underbelly"}
{:card-id "scrapcontract"
  :code "200019"
  :flavor "Ever since they switched to cyberdogs, it's become a lot harder to fullfill my contracts"
  :illustrator "An Apex distant ancestor"
  :position 19
  :quantity 3
  :set-id "underbelly"}
{:card-id "thorsons-bloodhounds"
  :code "200020"
  :flavor "Tag em and bag em"
  :illustrator "An Apex distant ancestor"
  :position 20
  :quantity 3
  :set-id "underbelly"}
{:card-id "bait-and-switch"
  :code "200021"
  :flavor "The bloodhounds were not above using any tactic available to make a capture. A few bloodhounds, did their best."
  :illustrator "An Apex distant ancestor"
  :position 21
  :quantity 3
  :set-id "underbelly"}]
