[{:card-id "haze"
  :code "200001"
  :flavor "Haze is one of those cool dudes that does everything Haze’s way, the hard way, which is better than it being easy like. --Haze"
  :illustrator "An Apex distant ancestor"
  :position 1
  :quantity 3
  :set-id "underbelly"}
{:card-id "betrayer"
  :code "200002"
  :flavor "In New Angeles any affilication can turn out to be a liability - Tina"
  :illustrator "An Apex distant ancestor"
  :position 2
  :quantity 3
  :set-id "underbelly"}
{:card-id "propagationengine"
  :code "200003"
  :flavor "Override, Overload, Overpower"
  :illustrator "An Apex distant ancestor"
  :position 3
  :quantity 3
  :set-id "underbelly"}
{:card-id "cryptojack"
  :code "200004"
  :flavor "There are mining accidents, then there are mining accidents. I hope one day I can stop dreaming of wallets.  – Friend of a friend"
  :illustrator "An Apex distant ancestor"
  :position 4
  :quantity 3
  :set-id "underbelly"}
{:card-id "panhandler"
  :code "200005"
  :flavor "For the big jobs everyone contributes. Each in their own way."
  :illustrator "An Apex distant ancestor"
  :position 5
  :quantity 3
  :set-id "underbelly"}
{:card-id "tina"
  :code "200006"
  :flavor "Ever since her days as a street urchin, she routinely came to the store with interesting items to sell me.  I never asked where she got them, and she never told me. - Aesop"
  :illustrator "An Apex distant ancestor"
  :position 6
  :quantity 3
  :set-id "underbelly"}
{:card-id "remoteconnection"
  :code "200007"
  :flavor "For a runner, finding old forgotten systems. Something that was missed during decommissions, is the modern-day version of striking gold."
  :illustrator "An Apex distant ancestor"
  :position 7
  :quantity 3
  :set-id "underbelly"}]
