[{:card-id "haze"
  :code "200001"
  :flavor "hmmm...What can I say about Haze. He's one of those guys that had to learn everything the hard way. --Noise"
  :illustrator "AI"
  :position 1
  :quantity 3
  :set-id "underbelly"}]
