{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "bioroid-efficiency-protocol"
 :side :corp
 :stripped-text "All bioroids cost 1[credit] less to rez"
 :stripped-title "Bioroid Efficiency Protocol"
 :subtype [:research]
 :text "All <strong>bioroids</strong> 1[credit] less to rez"
 :title "Bioroid Efficiency Protocol"
 :type :agenda
 :uniqueness false}
