{:cost 3
 :deck-limit 3
 :faction :shaper
 :id "chinook"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 1
 :stripped-text "If you have at least 2 link, the memory cost of this program is 0 mu, even if it is not installed. Interface -> 2 credit: Break 2 barrier subroutines. 1 credit: +1 strength."
 :stripped-title "Chinook"
 :subtype [:icebreaker :decoder :cloud]
 :text "If you have at least 2[link], the memory cost of this program is 0[mu], even if it is not installed.\nInterface → <strong>2[credit]:</strong> Break 2 <strong>barrier</strong> subroutines.\n<strong>1[credit]:</strong> +1 strength."
 :title "Chinook"
 :type :program
 :uniqueness false}
