{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "goingviral"
 :influence-cost 1
 :side :runner
 :stripped-text "Gain a credit for every net damage taken from the corp"
 :stripped-title "Going Viral"
 :subtype [:virtual :job]
 :text "Gain a [credit] for every net damage taken from the corp"
 :title "Going Viral"
 :type :resource
 :uniqueness true}
