{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "infrapulse"
 :influence-cost 3
 :side :corp
 :stripped-text "Play only if the Runner suffered brain damage during their last turn. Trash one installed non-icebreaker. The Runner may install a different card with the same subtypes from thier heap"
 :stripped-title "Infrapulse"
 :subtype [:gray-ops]
 :text "Play only if the Runner suffered brain damage during their last turn. Trash one installed non-icebreaker. The Runner may install a different card with the same subtypes from thier heap"
 :title "Infrapulse"
 :type :operation
 :uniqueness false}
