{:deck-limit 1
 :faction :jinteki
 :id "neurochem-analytics"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :stripped-text "4 recurring-credit Use these credits to pay to activate an Ambush"
 :stripped-title "Neurochem Analytics: Future Minds"
 :subtype [:division]
 :text "4[recurring-credit]\nUse these credits to pay to activate an Ambush"
 :title "Neurochem Analytics: Future Minds"
 :type :identity
 :uniqueness false}
