{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "neurondonation"
 :influence-cost 2
 :side :runner
 :stripped-text "Click to gain 10 credits, take one brain damage that can not be prevented and end your Action phase."
 :stripped-title "Neuron Donation"
 :subtype [:location :seedy]
 :text "Click to gain 10 [credits], take one brain damage that can not be prevented and end your Action phase."
 :title "Neuron Donation"
 :type :resource
 :uniqueness true}
