{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "neurondonation"
 :influence-cost 2
 :side :runner
 :stripped-text "When Neuron Donation is installed take one brain damage. Once per turn click to gain 7 credits and one brain damage that can not be prevented."
 :stripped-title "Neuron Donation"
 :subtype [:location :seedy]
 :text "When Neuron Donation is installed take one brain damage.\nOnce per trun [click] to gain 7[credits] and take one brain damage that can not be prevented."
 :title "Neuron Donation"
 :type :resource
 :uniqueness false}
