{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "personnel-threat-assessment"
 :influence-cost 3
 :side :corp
 :stripped-text "AP ice has +1 strength. During a run, AP ice gains +1 strength for each AP ice the Runner has broken all subroutines on this run."
 :stripped-title "Personnel Threat Assessment"
 :text "AP ice has +1 strength. During a run, AP ice gains +1 strength for each <strong>AP</strong> ice the Runner has broken all subroutines on this run."
 :title "Personnel Threat Assessment"
 :trash-cost 3
 :type :asset
 :uniqueness true}
