{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "propagationengine"
 :influence-cost 2
 :side :runner
 :stripped-text "+:1mu: use this MU only for virus programs 1:recurringcredit: Use this credit to pay for installing or using virus programs."
 :stripped-title "Propagation Engine"
 :subtype [:chip]
 :text "+1[mu]\nuse this MU only for virus programs\n1:recurringcredit: Use this credit to pay for installing or using virus programs."
 :title "Propagation Engine"
 :type :hardware
 :uniqueness false}
