{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "rearm-the-grid"
 :influence-cost 1
 :side :corp
 :stripped-text "As an additional cost to play this operation, spend click. Reveal up to 4 Ambushes from Archives, and/or installed face up Ambushes and shuffle them into R&D. Gain 2 credits for each card shuffled into R&D"
 :stripped-title "Rearm the Grid"
 :subtype [:double]
 :text "As an additional cost to play this operation, spend [click].\nReveal up to 4 Ambushes from Archives, and/or installed face up Ambushes and shuffle them into R&D. Gain 2 credits for each card shuffled into R&D"
 :title "Rearm the Grid"
 :type :operation
 :uniqueness false}
