{:cost 2
 :deck-limit 3
 :faction :criminal
 :id "remoteconnection"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :stripped-text "click: Run on remote server. Install only if you made a successful run on a central server. Select a remote server. Successful runs on that remote server will instead be successful run on HQ or RD. Instead of accessing cards, one card from HQ will be revealed."
 :stripped-title "Remote Connection"
 :subtype []
 :text "[click]<strong>:</strong> Run on remote server. Install only if you made a successful run on a central server. Select a remote server. Successful runs on that remote server will instead be successful run on HQ or RD. Instead of accessing cards, one card from HQ will be revealed."
 :title "Remote Connection"
 :type :program
 :uniqueness false}
