{:cost 2
 :deck-limit 3
 :faction :criminal
 :id "remoteconnection"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :stripped-text "click Run selected remote server. Successful runs on that remote server will reveal one random card from HQ and the run will count as if you made a successful run on HQ or RD Install only if you made a successful run on a central server. When installed select a remote server. "
 :stripped-title "Remote Connection"
 :subtype []
 :text "[click]<strong>:</strong> Run selected remote server. Successful runs on that remote server will reveal one random card from HQ and the run will count as if you made a successful run on HQ or RD\n Install only if you made a successful run on a central server.\nWhen installed select a remote server. "
 :title "Remote Connection"
 :type :program
 :uniqueness false}
