{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "tina"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :stripped-text "If the first card you install each turn is unique gain 2 credits"
 :stripped-title "Tina: Light-Fingered"
 :subtype [:natural]
 :text "If the first card you install each turn is unique gain 2[credit]"
 :title "Tina: Light-Fingered"
 :type :identity
 :uniqueness false}
